













/* button{
    margin-left: 65%;
    color: black;
}
input{
    width: 20px;
}
.tola{
    height: 20px;
    width: 500%;
    background-color: purple;
}
.Grace{
    padding-left: 100px;
    color:rgb(212, 135, 212);
    margin: center;
}
.O{
    margin-left: 50%;
}
.R{
    margin-left: 50%;
}
.E{
    margin-left: 50%;
}
.Z{
    margin-left: 50%;
} */